@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/global.scss" as *;

html {
  background-color: $lighter-yellowbackground;
}

.addItem {
    margin: 0;
    padding: 0;
    background-color: $lighter-yellowbackground;
  
    &__middle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      &-wordsonly {
        width: 100%;
      }
    }
  
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $lighter-greenbackground;
      border-radius: 2rem;
      font-size: 0.5rem;
      margin: 3rem;
      padding: 2rem;
      border: solid $border-greencolor;
  
      &-label {
        margin-right: 0.5rem;
      }
      &-input {
        width: 100%;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        border: none;
        margin-bottom: 1rem;
      }
  
      &-citizenship {
        width: 100%;
        justify-self: left;
        &-input {
          width: 70%;
          background-color: $lighter-greenbackground;
        }
        
      }
  
      &-photo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-preview {
          width: 50%;
          object-fit: cover;
          border-radius: 2rem;
        }
        &-input {
          display: none;
        }
        &-label {
          margin: 1rem;
          border: solid $border-greencolor;
          background-color: $darker-greenbackground;
  
          padding: 0.5rem 1rem;
        }
      }
  
      // &-brand {
      //   color: black;
      // }
  
      // &-type {
      //   color: black;
      // }
  
      // &-nickname {
      //   color: black;
      // }
  
      // &-size {
      //   color: black;
      // }
  
      // &-birthdate {
      //   color: black;
      // }
  
      // &-address {
      //   color: black;
      // }
  
      &-serialnum {
        width: 100%;
        justify-self: left;
        &-input {
          width: 90%;
          background-color: $lighter-greenbackground;
        }
      }
  
      &-buttons {
        width: 100%;
        display: flex;
        justify-content: right;
      }
      &-button {
          background-color: $darker-greenbackground;
          border: solid $border-greencolor;
          padding: 0.5rem 1rem;
          margin-left: 2rem;
      }
    }
  }