@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/fonts.scss";
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/global.scss" as *;

.search {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  &-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    background-color: #eaccae;
  }

  &__input {
    border: solid #eaccae;
    padding: 1rem;
  }

  &__button {
    background-color: #eaccae;
    border: solid #eaccae;
    padding: 1rem;
  }

  &__clear {
    display: inline;
    margin-left: 2rem;
    padding: 0 1rem;
    &--none {
      display: none;
    }
  }
}
