$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//green
$border-greencolor: #609f60;
$lighter-greenbackground: #c6ecd6;
$darker-greenbackground: #9fc69f;

//yellow
$lighter-yellowbackground:  #fffacd;